@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Regular.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Medium.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-SemiBold.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Roobert";
  src: url("fonts/Roobert-Bold.woff2");
  font-weight: 400;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roobert";
  font-weight: 100;
}

#app {
  display: flex;
  flex-direction: row;
}

/* FORM CONTAINER */

#formContainer {
  position: fixed;
  width: 25%;
  height: 100vh;
  padding-top: 128px;
  color: #f1f1f1;
  background-color: #161616;
}

#formContainer h1 {
  margin-bottom: 64px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 256px;
  height: 40px;
  padding-left: 16px;
  color: #f1f1f1;
  background-color: #161616;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
}

form input:not(:nth-child(5)) {
  margin-bottom: 32px;
}

form input:focus {
  outline: none;
}

::placeholder {
  font-family: "Roobert";
  font-weight: 100;
  color: #f1f1f1;
}

#formButton {
  width: 128px;
  height: 40px;
  margin-top: 64px;
  font-family: "Roobert";
  font-weight: 400;
  color: #f1f1f1;
  background-color: #50b76d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color, 0.3s;
}

#formButton:hover {
  background-color: #50b76d9d;
}

/* LIST CONTAINER */

#listContainer {
  position: absolute;
  right: 0;
  width: 75%;
  padding-top: 128px;
  color: #161616;
  background-color: #f1f1f1;
}

#listContainer h2 {
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

#listContainer > button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 128px;
  height: 40px;
  font-family: "Roobert";
  font-weight: 400;
  background-color: #f1f1f1;
  border: 1px solid #161616;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

#listContainer > button:hover {
  color: #f1f1f1;
  background-color: #161616;
}

ul > :not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.concert {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 16px 0;
}

.concert a {
  color: #50b76d;
  text-decoration: none;
}

.editButtons {
  display: flex;
  flex-direction: column;
}

.modifyButton {
  width: 64px;
  height: 16px;
  margin-bottom: 8px;
  font-family: "Roobert";
  font-size: 10px;
  font-weight: 400;
  color: #6d9fff;
  background-color: #f1f1f1;
  border: 1px solid #6d9fff;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.modifyButton:hover {
  color: #f1f1f1;
  background-color: #6d9fff;
}

.deleteButton {
  width: 64px;
  height: 16px;
  font-family: "Roobert";
  font-size: 10px;
  font-weight: 400;
  color: #e56c6c;
  background-color: #f1f1f1;
  border: 1px solid #e56c6c;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.deleteButton:hover {
  color: #f1f1f1;
  background-color: #e56c6c;
}
