$font: "Roobert";

@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Regular.woff2");
  font-weight: 100;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Medium.woff2");
  font-weight: 200;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-SemiBold.woff2");
  font-weight: 300;
}
@font-face {
  font-family: $font;
  src: url("fonts/Roobert-Bold.woff2");
  font-weight: 400;
}

$white: #f1f1f1;
$black: #161616;
$green: #50b76d;
$red: #e56c6c;
$blue: #6d9fff;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  font-weight: 100;
  background-color: $white;

  #app {
    display: flex;
    flex-direction: row;

    #alertBox {
      position: fixed;
      top: -64px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 64px;
      color: $white;
      transition: 0.3s;
    }

    .successAlert {
      background-color: $green;
    }

    .errorAlert {
      background-color: $red;
    }

    #disconnectButton {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 1;
      width: 128px;
      height: 40px;
      font-family: $font;
      font-weight: 400;
      background-color: $white;
      border: 1px solid $black;
      border-radius: 4px;
      cursor: pointer;
      transition-property: color, background-color;
      transition-duration: 0.3s;
    }

    #disconnectButton:hover {
      color: $white;
      background-color: $black;
    }

    #modalBackground {
      display: none;
      position: absolute;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      background-color: $black;
      opacity: 0.9;
    }

    /* MODAL */

    #modalContainer {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 3;
      width: 100vw;
      height: 100vh;

      #modalAlert {
        padding: 64px;
        background-color: $white;
        border-radius: 4px;

        #modalTitle {
          width: 256px;
          font-weight: 400;
          text-align: center;
        }

        #updateForm {
          margin-top: 64px;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }

        .updateInput,
        .dateUpdateInput {
          width: 256px;
          height: 40px;
          padding-left: 16px;
          color: $black;
          background-color: $white;
          border: 1px solid $black;
          border-radius: 4px;
        }

        .dateUpdateInput {
          font-family: $font;
          font-weight: 100;
          text-transform: uppercase;
        }

        .updateInput:focus,
        .dateUpdateInput:focus {
          background-color: $white;
          outline: none;
          border: 2px solid $black;
        }

        #yesButton,
        #noButton {
          margin-top: 64px;
          width: 120px;
          height: 40px;
          font-family: $font;
          font-weight: 400;
          background-color: $white;
          border: 1px solid $black;
          border-radius: 4px;
          cursor: pointer;
          transition-property: color, background-color;
          transition-duration: 0.3s;
        }

        #noButton:hover {
          color: $white;
          background-color: $black;
        }

        #yesButton {
          margin-right: 16px;
          color: $white;
          background-color: $black;
        }

        #yesButton:hover {
          color: $black;
          background-color: $white;
        }
      }
    }

    /* FORM CONTAINER */

    #formContainer {
      position: fixed;
      height: 100vh;
      padding: 128px 96px 0 96px;
      color: $white;
      background-color: $black;

      h1 {
        margin-bottom: 128px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        width: 256px;
        height: 40px;
        padding-left: 16px;
        color: $white;
        background-color: $black;
        border: 1px solid $white;
        border-radius: 4px;
      }

      input:not(:nth-child(5)) {
        margin-bottom: 32px;
      }

      input:focus {
        background-color: $black;
        outline: none;
        border: 2px solid $white;
      }

      #dateInput {
        font-family: $font;
        font-weight: 100;
        text-transform: uppercase;
      }

      #formButton {
        width: 128px;
        height: 40px;
        margin-top: 64px;
        font-family: $font;
        font-weight: 400;
        color: $white;
        background-color: $green;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color, 0.3s;
      }

      #formButton:hover {
        background-color: #50b76d9d;
      }

      ::placeholder {
        font-family: $font;
        font-weight: 100;
        color: $white;
      }
    }

    /* LIST CONTAINER */

    #listContainer {
      position: absolute;
      right: 0;
      width: calc(100% - 448px);
      padding-top: 128px;
      color: $black;

      h2 {
        margin-bottom: 96px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
      }

      #concertList {
        > :not(:last-child) {
          border-bottom: 1px solid #d9d9d9;
        }
        .concert {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 32px 96px;
          text-overflow: ellipsis;

          .availableTickets {
            color: $green;
            text-decoration: none;

            a {
              margin-left: 8px;

              .ticketsLinkButton {
                width: 32px;
                height: 16px;
                font-family: $font;
                font-size: 10px;
                font-weight: 400;
                color: $green;
                background-color: $white;
                border: 1px solid $green;
                border-radius: 4px;
                cursor: pointer;
                transition-property: color, background-color;
                transition-duration: 0.3s;
              }

              .ticketsLinkButton:hover {
                color: $white;
                background-color: $green;
              }
            }
          }

          .unavailableTickets {
            color: $red;
            text-decoration: none;
          }

          .editButtons {
            display: flex;
            flex-direction: column;

            .updateButton {
              width: 64px;
              height: 16px;
              margin-bottom: 8px;
              font-family: $font;
              font-size: 10px;
              font-weight: 400;
              color: $blue;
              background-color: $white;
              border: 1px solid $blue;
              border-radius: 4px;
              cursor: pointer;
              transition-property: color, background-color;
              transition-duration: 0.3s;
            }

            .updateButton:hover {
              color: $white;
              background-color: $blue;
            }

            .deleteButton {
              width: 64px;
              height: 16px;
              font-family: $font;
              font-size: 10px;
              font-weight: 400;
              color: $red;
              background-color: $white;
              border: 1px solid $red;
              border-radius: 4px;
              cursor: pointer;
              transition-property: color, background-color;
              transition-duration: 0.3s;
            }

            .deleteButton:hover {
              color: $white;
              background-color: $red;
            }
          }
        }
      }
    }
  }
}
