*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #161616;
  background-color: #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 256px;
  height: 40px;
  margin-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #161616;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input:focus {
  outline: none;
  border: 2px solid #161616;
}

button {
  width: 256px;
  height: 40px;
  font-weight: 700;
  color: #f1f1f1;
  border: 1px solid #161616;
  border-radius: 4px;
  background-color: #161616;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

button:hover {
  color: #161616;
  background-color: #f1f1f1;
}
